* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

body{
  display: flex;
  flex-direction: column;
  height: 100vh;
}

header{
  background-color: rgb(255, 255, 255);
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 10px 0px rgb(178, 180, 185);
  z-index: 1;
}

h1{
  font-size: 2.5rem;
  font-weight: 600;
  background-color: white;
}

#add-book{
  font-size: 1.6rem;
  font-weight: 600;
  padding: 5px 20px;
  border-radius: 20px;
  margin-bottom: 50px;
  cursor: pointer;
}

#add-book:hover{
  box-shadow: 0 0 10px 0px orange;
}

h4{
  font-size: 1.5rem;
  font-weight: 500;
}

h6{
  font-size: 0.8rem;
  font-weight: 400;
}

p{
  font-size: 1.2rem;
}

main{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
  flex: auto;
}

.grid-container{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 40px;
}

.book-card{
  background: linear-gradient(135deg, rgba(32, 99, 133, 0.8) 0%, rgba(85, 202, 132, 0.8) 100%);
  padding: 20px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  gap: 25px;
  width: 380px;
}



.read, .remove{
  font-size: 1.2rem;
  background-color: rgb(233, 110, 110);
  border: 0;
  border-radius: 15px;
  padding: 10px 20px;
  width: 100%;
  cursor: pointer;
}

.remove{
  background-color: white;
}

footer{
  box-shadow: 0 0 10px 0px rgb(178, 180, 185);
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.icon{
  margin-top: 6px;
  width: 25px;
  margin-left: 10px;
}


/* MODAL AND OVERLAY */

.modal{
display: none;
width: 400px;
height: 480px;
background-color: rgb(218, 218, 218);
z-index: 3;
position: fixed;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
text-align: center;
border-radius: 10px;
}

/* .active{
  display: none;
  transition: 0.5s ease-in-out;
} */

.overlay{
  display: none;
  position: fixed;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 2;
}

form h3{
  margin-bottom: 0px
}

form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

form h3, label, .bar, .SubmitBtn{
  font-size: 1.4rem;
  width: 80%;
}

form h3{
  font-weight: 600;
  margin: 10px;
}

form .bar, .SubmitBtn{
  height: 60px;
  padding: 10px;
  border: 0;
  box-shadow: 0 0 10px 2px rgb(178, 180, 185);
  border-radius: 5px;
}

.SubmitBtn:hover{
  font-weight: 600;
  box-shadow: 0 0 10px 0px orange;
  cursor: pointer;
}

.is-read label{
  margin-right: 10px;
}

 input:hover{
  box-shadow: 0 0 10px 0px orange;
}
 input:focus{
  box-shadow: 0 0 10px 0px orange;
  border: 0;
  outline: none;
}

input[type='checkbox']:after {
  width: 15px;
  height: 15px;
  top: -2px;
  left: -1px;
  position: relative;
  background-color: white;
  content: '';
  display: inline-block;
  visibility: visible;
  border: 2px solid black;
  cursor: pointer;
}

input[type='checkbox']:checked:after {
  width: 15px;
  height: 15px;
  top: -2px;
  left: -1px;
  position: relative;
  background-color: orange;
  content: '';
  display: inline-block;
  visibility: visible;
  border: 2px solid black;
  box-shadow: 0px 0px 5px 1px white;
  cursor: pointer;
}
